@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: white;
  background-size: cover;
  user-select: none;
}



#root {

}




.tip {
  font-size: 16px;
  line-height: 24px;
  color: black;
  font-weight: 600;
}

















