.personalInfomationWrapper {
  @include flex-box(column, start, center, 1rem);
  padding: 1rem 6rem;
  width: 100%;
  font-weight: 600;
}

.cardWrapper {
  @include flex-box(flex, start, center, 1rem);
  width: 100%;
  background: white;
  border-radius: 4px;
  padding: 1em;
}

.personalWrapper {
  @include flex-box(column, start, start, 1rem);
  width: 100%;
  background: white;
  padding: 1em;
}

.rowWrapper {
  @include flex-box(row, space-between, start, 1rem);
  width: 100%;
  background: white;
  cursor: pointer;
}
