.fileInput {
  visibility: hidden;
  position: absolute;
}

.signatureModalFooterWrapper {
  display: flex;
  justify-content: center;
}

.signatureModalFooter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.settingsCardItemContent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
