@import '@renderer/styles/utilities.scss';
.sideBarContainer {
  height: 100vh;
  width: 75px;
  background-color: #f0f1f4;
  @include flex-box(column, start, center, 3rem);
  padding: 1rem;
  box-sizing: border-box;
  position: relative;
}

.resizeButtonContainer {
  @include flex-box(row, center, center, 0.5rem);
}

.settingsIcon {
  background: #dce5f6;
  padding: 1em;
  width: 100%;
  position: absolute;
  bottom: 0;
  @include flex-box(row, center, center, 0.5rem);
}
