@import '@renderer/styles/font.scss';
:root {
  --primary: $primary;
  --secondary: $secondary;
  --primary-dark: $primary-dark;
  --primary-light: $primary-light;
  --primary-gradient: $primary-gradient;
  --secondary-gradient: $secondary-gradient;
  --tertiary-gradient: $tertiary-gradient;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: PingFang, Roboto, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
